.MuiTypography-root {
  font-family: var(--font-lato);
}

html, body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
}
