@import "../../lib/colors.scss";

.centerText {
  justify-content: center;
  text-align: center;
}

.cardMedia {
  width: 248px;
  width: 248px;
}

.filmList:global(.MuiTypography-root) {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 400;
  font-size: 12px;
}

.link {
  color: $fontBlack;
  font-size: 12px;
  line-height: 14.2px;
  font-weight: 900;
  text-transform: uppercase;
  transition: color 100ms ease-in-out;
  &:visited {
    color: inherit;
  }

  &:hover {
    color: lighten($fontBlack, 30%);
  }
}

.characterName:global(.MuiTypography-root) {
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  margin-bottom: 16px;
}

.cardActions {
  @extend .centerText;
  margin-top: 0;
  margin-bottom: 34px;
}

.filmHeader:global(.MuiTypography-root) {
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
}

.cardContent {
  height: 120px;
  @extend .centerText;
}
